# Backblaze vars
S3_BUCKET_NAME= ""
S3_ENDPOINT_URL= ""
S3_KEY_ID= ""
S3_APPLICATION_KEY= ""

# Paths
CONFIG_FILE_PATH= "" # Path where the config file is stored
DETECTORS_OBSERVABLES_PATH= "" # Path where the detectors and observables results are stored
