
AWS_ACCESS_KEY_ID=???
AWS_SECRET_ACCESS_KEY=???
AWS_DEFAULT_REGION=???

# Backblaze vars
S3_BUCKET_NAME=???
S3_ENDPOINT_URL=???

# DynamoDB vars
DYNAMODB_SAMPLES_TABLE_NAME=samples_dynamodb
DYNAMODB_ENDPOINT_URL=???

# Paths
S3_CONFIG_FILE_PATH=config/config.json
S3_DETECTORS_OBSERVABLES_PATH=detectors_observables/
