
AWS_ACCESS_KEY_ID=???
AWS_SECRET_ACCESS_KEY=???
AWS_DEFAULT_REGION=???

# Offline mode for testing
OFFLINE_MODE=True

# Backblaze vars
S3_BUCKET_NAME=???
S3_ENDPOINT_URL=???

# DynamoDB vars
DYNAMODB_SAMPLES_TABLE_NAME=samples_dynamodb
DYNAMODB_ARGS_TABLE_NAME=args_dynamodb
DYNAMODB_RESULTS_TABLE_NAME=results_dynamodb
DYNAMODB_ENDPOINT_URL=http://localhost:8001

# Paths
S3_CONFIG_FILE_PATH=config/config.json
S3_DETECTORS_OBSERVABLES_PATH=detectors_observables/

# Lambda Vars
LAMBDA_ENDPOINT_URL=http://localhost:3000/dev/
LAMBDA_ORCHESTRATOR_NAME=orchestrator
LAMBDA_NMC_WORKER_NAME=nmc_worker
LAMBDA_ARGS_WORKER_NAME=args_worker